# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=ehttps://inispwtbhamelhtpoics.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluaXNwd3RiaGFtZWxodHBvaWNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4NjUyNjQsImV4cCI6MjA4NjQ0MTI2NH0.wUV1XtAgmgkrzV--YWw8eNPd2FLMouzutcz-NDQ3cBU
# Server-side
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluaXNwd3RiaGFtZWxodHBvaWNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDg2NTI2NCwiZXhwIjoyMDg2NDQxMjY0fQ.pX9pRqYK7j_pU4Y_qvrXfDjEognrH8h62V5wJnX1Xj8